{% extends "layout.html" %}

{% block page_content %}
<div class="row">
  <div class="col-md-6">
    <h3>{{ employee.name }}</h3>
    <dl class="dl-horizontal">
      <dt>Fecha Nacimiento</dt>
      <dd>{{ employee.birth_date.strftime('%d-%b-%Y').title() }} ({{ employee.age.years }} años)</dd>
      <dt>C.U.I.L.</dt>
      <dd>{{ employee.cuil }}</dd>
      <dt>Fecha Ingreso</dt>
      <dd>{{ employee.hire_date.strftime('%d-%b-%Y').title() }} ({{ employee.seniority.years }} años y {{ employee.seniority.months }} meses)</dd>
      <dt>Código Reloj</dt>
      <dd>{{ employee.user_code }}</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Día</th>
          <th>Entrada</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        {% set late_list = [] %}
        {% for (day, intervals) in records %}
        {% for interval in intervals %}
        <tr>
          {% if loop.first %}
          <th{% if loop.length > 1 %} rowspan="{{ loop.length }}"{% endif %}>
            {{ day.strftime('%A %d').title() }}
          </th>
          {% endif %}
          <td>
            {% if not interval.input %}
            <strong class="text-danger">Sin Registro</strong>
            {% else %}
            {{ interval.input }}
            {% endif %}
          </td>
          <td>
            {% if not interval.output %}
            <strong class="text-danger">Sin Registro</strong>
            {% else %}
            {{ interval.output }}
            {% endif %}
          </td>
          <td>
            {% if interval.late is none %}
            <span class="label label-warning">Falta registro</span>
            {% else %}
            <span class="label label-{% if interval.late.total_seconds() == 0 %}success{% else %}danger{% endif %}">{{ interval.late }}</span>
            {% do late_list.append(interval.late) %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% endfor %}
        <tr>
          <td colspan="3"><strong>Total tiempo de retraso:</strong></td>
          <td><strong>{{ late_list|sum(start=timedelta(seconds=0)) }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{# vim: ft=jinja:sw=2
#}
