{% extends "layout.html" %}

{% block page_content %}
<div class="page-header">
  <h1>Nómina <a href="{{ url_for('employee_add') }}" class="btn btn-xs btn-default" type="button">Agregar Nuevo</a></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Apellido y Nombre</th>
          <th>Fecha Nacimiento</th>
          <th>Fecha Ingreso</th>
          <th>Registros</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.file_no|d('', True) }}</td>
        <td><a href="{{ url_for('employee_view', id=employee.id) }}">{{ employee.last_name + ', ' + employee.first_name }}</a></td>
          <td>{{ employee.birth_date.strftime('%d-%b-%Y').title() }}</td>
          <td>{{ employee.hire_date.strftime('%d-%b-%Y').title() }}</td>
          <td>{{ employee.records.count() }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{# vim:ft=jinja:sw=2
#}
