{% extends "layout.html" %}

{% macro render_field(field) %}
<div class="form-group">
  {{ field.label(class="col-sm-3 control-label") }}
  <div class="col-sm-9">
    {{ field(class="form-control") }}
    {% if field.description %}
    <p class="help-block">{{ field.description }}</p>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% block page_content %}
<div class="row">
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <h3>Nuevo empleado</h3>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          {{ form.hidden_tag() }}
          {{ render_field(form.first_name) }}
          {{ render_field(form.last_name) }}
          {{ render_field(form.birth_date) }}
          {{ render_field(form.cuil) }}
          {{ render_field(form.hire_date) }}
          {{ render_field(form.user_code) }}
          {{ render_field(form.file_no) }}
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="submit" class="btn btn-default">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{# vim: ft=jinja:sw=2
#}
